[package]
name = "mqtt-broker"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.100"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.134"
spin-sdk = "5.1.1"
chrono = { version = "0.4.43", features = ["serde"] }


